*{
    box-sizing: border-box;
}
.container-fluid {
    background-color: #d42424;
}
.logo {
    border-radius: 50%;
}
.logoo{
    justify-content: center;
    display: flex;
    align-items: center;
}
.card{
 transform: translate(-50% -50%);
 width: 500px;
 
}
.btn{
    background-color: #4723dc;
    color: #ffffff;
}
.here{
    color: #4723dc;
}